@charset "UTF-8";

/* 서브페이지 공통 헤더 서식 */
header{
  width:100%;
  position:fixed;
  top:0px; left:0px;
  z-index:100;
}
.h_inner{background:#fff;}
.h_top{
  width:100%;height:110px;
  margin:0px auto;
  display:flex;
  justify-content:center;
  position:relative;
  border-bottom:1px solid #d8d6d6;
}
.h_top > h1{
  height:50px;width:80px;
  position:relative;
  padding:10px;
  z-index:100;
}
.h_top > h1 img{width:100%;}
.h_top > h1 a{display:block;}
.h_top > .lnb{
  width:100%;
  position:absolute;
  right:0px;top:28px;
  display:flex;
  justify-content:space-between;
}
.h_top > .lnb a{display:block;text-align:center;}
.search > h2, .info_img > h2{display:none;}
.search_box{
  width:80%; height: 33px;
  border:1px solid #363535;
  border-radius: 15px;
  position: absolute;
  left:50%;
  bottom:10px;
  top:auto;
  transform:translateX(-50%);
}
.search_box input{
  border: none;
  position: relative;
  top: 0px;
  text-align: center;
  width:95%;
}
.search_box button > img{width:20px; height:20px;}
.search_box button{
  border: none;
  padding: 6px 4px 2px 4px;
  background: #fff;
}
fieldset{width:94%;display:flex;justify-content:space-between;margin: 0 auto;}
.lnb > li{width:70px;}
.lnb > li > a{
  font-size:14px;
  font-weight:500;
  color:#363535;
}
.lnb > li:first-child a{font-size:1.4rem;transform:translateY(-5px);}

@media screen and (max-width:550px) {
  fieldset{width:92%;}
}

/* 메인 내비게이션 */
.c_btn{position:absolute;top:20px;right:20px;}
.c_btn > i.fas{color:#fff;font-size:1.5rem;padding:10px;}
.h_bottom{
  width:100%;height:100%;
  position:fixed;top:0px;left:0px;
  background:#333;
  z-index:1000;
  display:none;
}
.gnb{
  width:138px;
  margin:0px auto;
  margin-top:70px;
  text-align:center;
}
.gnb a{color:#fff;display:block;}
.gnb > li > a{font-size:1.2rem;font-weight:500;line-height:50px;}
.sub{line-height:34px;display:none;}
.sub > li{margin:0px auto;width:140px;margin-bottom:5px;}
.sub > li > a{background:#ff5207;border-radius:20px;}
.sub > li:last-child{margin-bottom:20px;}
.rotate{transform:rotate(180deg) translateY(3px);}

/* top버튼 서식 */
.top_btn_box{right:30px;}

/* 푸터 서식 */
footer{
  width:100%;height:150px;
  background:#363535;
  margin:0px auto;
}
.f_inner{
  height:100%;
  display:flex;
  justify-content:left;
}
.f_inner > h2{padding-top:40px;width:20%;}
.f_inner > h2 > a{display:block;}
.f_inner > h2 img{width:64%;padding-left:15%;}
.f_inner > div:first-of-type{width:60%;}
.f_inner > .sns_btn{width:20%;}
.f_inner nav a{color:#fff;text-decoration:underline;}
.f_inner nav > ul{
  width:100%;
  display:flex;
  font-size:0.8rem;
  margin: 30px 0;
}
.f_inner nav > ul > li{padding-right:10%;}
.c_info{width:100%;}
.c_info > ul{
  width:100%;font-size:0.8rem;
  color:#fff;
  display:grid;
  grid-template-columns:repeat(3, 33%);
  grid-template-rows:repeat(3, auto);
  grid-row-gap:10%;
}
.c_info .info04{grid-area:2/1/3/5;}
.c_info .info07{grid-area:3/1/4/5;}
.sns_btn > ul{
  padding-top:20px;
  width:100%;
  display:flex;
  justify-content:space-between;
}
.sns_btn > ul > li{width:30%;padding-right:5%;}
.sns_btn > ul > li img{width:100%;}

@media screen and (max-width:635px) {
  footer{height:200px;}
  .f_inner > h2{width:122px;}
  .f_inner > div:first-of-type{width:calc(100% - 122px);}
  .f_inner > .sns_btn{width:150px;position:absolute;bottom:20px;left:50%;transform:translateX(-50%);}
  .f_inner{position:relative;}
}
@media screen and (max-width:492px) {
  footer{height:270px;}
  .f_inner{flex-direction:column;justify-content:space-around;}
  .f_inner > h2{width:70px;padding-top:10px;}
  .f_inner > h2 img{width:100%;padding-left:0px;}
  .f_inner > div:first-of-type{width:90%;text-align:center;}
  .f_inner > div:first-of-type > nav > ul{margin:10px 0px 20px;justify-content:space-around;}
  .f_inner > div:first-of-type > nav > ul > li{width:33%;padding-right:0px;}
  .f_inner > h2, .f_inner > div:first-of-type, .f_inner > .sns_btn{margin:0px auto;}
  .f_inner > .sns_btn{position:relative;bottom:0px;left:0px;transform:translateX(0px);}
}
